.HttpInfoTitle {
  width: 300px;
  overflow-x: hidden;
  white-space: nowrap;
}

.HttpInfoMethod {
  width: 80px;
}

.HttpInfoStatus {
  width: 80px;
}

.HttpInfoReqSize {
  width: 80px;
}

.HttpInfoNumber {
  width: 20px;
}

.HttpInfoTotalTime {
  width: 100px;
}

.HttpInfoResSize {
  width: 100px;
}

.HttpInfoTimeLine {
  width: 320px;
}