.HttpInfoTitle {
  width: 300px;
  overflow-x: auto;
}

.HttpInfoMethod {
  width: 80px;
}

.HttpInfoStatus {
  width: 80px;
}

.HttpInfoReqSize {
  width: 80px;
}

.HttpInfoTime {
  width: 100px;
}

.HttpInfoTotalTime {
  width: 100px;
}

.HttpInfoResSize {
  width: 100px;
}

.HttpInfoTimeLine {
  width: 320px;
}