.TimeLine {
  position: relative;
  float: left;
  display: flex;
  height: 15px;
  width: 100%;
}

.dnsTime {
  background-color: #00bfff;
  height: 15px;
}

.connectTime {
  background-color: #40ff00;
  height: 15px;
}

.blockTime {
  background-color: #ffbf00;
  height: 15px;
}

.sendTime {
  background-color: #ff0000;
  height: 15px;
}

.waitTime {
  background-color: #bf00ff;
  height: 15px;
}

.receiveTime {
  background-color: #ebebe0;
  height: 15px;
}

.contentLoad {
  position: absolute;
  width: 1px;
  height: 110%;
  background: #1c80bd;
  top: -5%;
}

.pageLoad {
  position: absolute;
  width: 1px;
  height: 110%;
  background: #ff0024;
  top: -5%;
  left: 100%;
}